# IMPORT

In [91]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [92]:
ds=pd.read_csv('/content/jobms_consolidated_search_ds.csv')

In [93]:
ds.head()

,Area,Career Level,Company,Company Website,Data Source,Date Posted,Date Scraped,Employer Contact Number,Employer Email,Industry,...,Jobtick Dashboard,Jobtick Engineerjobs,jobtick Excel,jobtick Python,Jobtick Scientistjobs,jobtick SQL,Lower Salary Range,New Year Exp.,Upper Salary Range,Years of Experience
0,Not Specified,Entry,EC Healthcare,Not Specified,JobsDB,10-22-2021,22-10-2021,NaN,NaN,Health & Beauty Care,...,1.0,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,-1.0
1,Not Specified,Senior,A4lution Limited,Not Specified,JobsDB,10-22-2021,22-10-2021,['3955 8549'],NaN,Others,...,1.0,NaN,1.0,1.0,NaN,1.0,NaN,3.0,NaN,31.0
2,Not Specified,Entry,now TV,http://www.pccw.com,JobsDB,10-22-2021,22-10-2021,['2827 8322'],NaN,Telecommunication,...,NaN,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,1.0
3,Not Specified,Entry,Deloitte Global Services Limited,http://www.deloitte.com,JobsDB,10-21-2021,22-10-2021,NaN,NaN,Accounting/Audit/Tax Services,...,1.0,NaN,NaN,1.0,1.0,1.0,NaN,2.0,NaN,2.0
4,Not Specified,Entry,Lloyd Karson International Limited,Not Specified,JobsDB,10-22-2021,22-10-2021,NaN,NaN,Human Resources Management/Consultancy,...,1.0,NaN,NaN,1.0,NaN,1.0,17.0,1.0,25.0,1.0

In [94]:
missing_col=ds.columns[ds.isnull().any()]

In [95]:
ds.isnull().sum().sort_values(ascending=False)
# there are many missing value in first 12 columns we can drop the columns because it way missing in the process of web scrapping
# these columns are not required fro our analysis

Jobtick Scientistjobs      3131
Employer Email             3044
Jobtick Dashboard          2918
Jobtick Avgsalary          2893
Upper Salary Range         2893
Lower Salary Range         2893
Employer Contact Number    2853
Jobtick Engineerjobs       2661
jobtick Python             2616
jobtick SQL                2161
jobtick Excel              2044
Jobtick Analystjobs        2037
Total Entry Level Jobs        0
Area                          0
Salary                        0
New Year Exp.                 0
Search Term                   0
Qualification                 0
Career Level                  0
Job Type                      0
Job Title                     0
Job Link                      0
Job Highlights                0
Job Functions                 0
Job Description               0
Industry                      0
Date Scraped                  0
Date Posted                   0
Data Source                   0
Company Website               0
Company                       0
Years of Experience           0
dtype: int64

In [96]:
ds_cle=ds.drop(missing_col,axis=1)

In [97]:
ds_cle.isnull().sum()
# NOW our data look's GOOD

Area                      0
Career Level              0
Company                   0
Company Website           0
Data Source               0
Date Posted               0
Date Scraped              0
Industry                  0
Job Description           0
Job Functions             0
Job Highlights            0
Job Link                  0
Job Title                 0
Job Type                  0
Qualification             0
Salary                    0
Search Term               0
Total Entry Level Jobs    0
New Year Exp.             0
Years of Experience       0
dtype: int64

In [98]:
ds_cle

,Area,Career Level,Company,Company Website,Data Source,Date Posted,Date Scraped,Industry,Job Description,Job Functions,Job Highlights,Job Link,Job Title,Job Type,Qualification,Salary,Search Term,Total Entry Level Jobs,New Year Exp.,Years of Experience
0,Not Specified,Entry,EC Healthcare,Not Specified,JobsDB,10-22-2021,22-10-2021,Health & Beauty Care,"['Job Descriptions:', 'Develop strategic KPIs ...","Information Technology (IT), DBA, E-commerce, ...","['Develop and built segmentation platform', 'C...",/hk/en/job/business-analyst-data-analysis-1000...,Business Analyst (Data Analysis),"Full Time, Permanent",Not Specified,Not Specified,Data Scientist,ENTRY LEVEL,1.0,-1.0
1,Not Specified,Senior,A4lution Limited,Not Specified,JobsDB,10-22-2021,22-10-2021,Others,"['Responsibilities:', 'Work closely with senio...","Information Technology (IT), Data Scientist","['Drive automation of analytical projects', 'I...",/hk/en/job/data-analyst-leader-100003008838120,Data Analyst Leader,Full Time,Degree,Not Specified,Data Scientist,MID LEVEL,3.0,31.0
2,Not Specified,Entry,now TV,http://www.pccw.com,JobsDB,10-22-2021,22-10-2021,Telecommunication,"['The Job:', 'Hands on experience in conductin...","Marketing / Public Relations, Others, Informat...",['Interpret & analyze data for campaign evalua...,/hk/en/job/data-analyst-campaign-specialist-10...,Data Analyst – Campaign Specialist,Full Time,Degree,Not Specified,Data Scientist,ENTRY LEVEL,1.0,1.0
3,Not Specified,Entry,Deloitte Global Services Limited,http://www.deloitte.com,JobsDB,10-21-2021,22-10-2021,Accounting/Audit/Tax Services,"['About Technology', 'Deloitte Digital is a bo...","Professional Services, Business Analysis / Dat...","['data scientist', 'digital', 'tableau']",/hk/en/job/consultant-senior-consultant-data-s...,Consultant / Senior Consultant - Data Scientis...,Full Time,Degree,Not Specified,Data Scientist,ENTRY LEVEL,2.0,2.0
4,Not Specified,Entry,Lloyd Karson International Limited,Not Specified,JobsDB,10-22-2021,22-10-2021,Human Resources Management/Consultancy,['The client is a global prestigious MNC Insur...,"Professional Services, Business Analysis / Dat...","['Experience with Python', 'Good Data Analytic...",/hk/en/job/business-intelligence-assistant-dat...,Business Intelligence Assistant / Data Analyst...,"Full Time, Permanent",Degree,HK$17K - 25K /month,Data Scientist,ENTRY LEVEL,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3206,-,Senior,Manulife (International) Limited,Not Specified,CTGoodJobs,09-28-2021,22-10-2021,Not Specified,Not Specified,Not Specified,Not Specified,https://www.ctgoodjobs.hk/job/senior-applicati...,Senior Application Reliability Engineer,Not Specified,Not Specified,Not Specified,Business Intelligence,SENIOR LEVEL,7.5,7.5
3207,Admiralty,Entry,PCCW Solutions Limited,Not Specified,CTGoodJobs,09-28-2021,22-10-2021,Not Specified,Not Specified,Not Specified,Not Specified,https://www.ctgoodjobs.hk/job/solution-develop...,Application Developer,Not Specified,Not Specified,Not Specified,Business Intelligence,ENTRY LEVEL,1.5,1.5
3208,Tai Kok Tsui,Middle,PCCW Solutions Limited,Not Specified,CTGoodJobs,09-28-2021,22-10-2021,Not Specified,Not Specified,Not Specified,Not Specified,https://www.ctgoodjobs.hk/job/senior-solution-...,Senior Solution Analyst - Application developm...,Not Specified,Not Specified,Not Specified,Business Intelligence,SENIOR LEVEL,6.0,6.0
3209,Wong Tai Sin,Senior,Top Form International Limited,Not Specified,CTGoodJobs,09-28-2021,22-10-2021,Not Specified,Not Specified,Not Specified,Not Specified,https://www.ctgoodjobs.hk/job/it-project-manag...,IT Project Manager,Not Specified,Not Specified,Not Specified,Business Intelligence,MID LEVEL,5.0,5.0
3210,-,Entry,BitMEX,Not Specified,CTGoodJobs,09-27-2021,22-10-2021,Not Specified,Not Specified,Not Specified,Not Specified,https://www.ctgoodjobs.hk/job/project-manageme...,Project Management Officer,Not Specified,Not Specified,Not Specified,Business Intelligence,SENIOR LEVEL,2.5,2.5

#  Starting Univariate Analysis

In [99]:
# Years of Experience
ds_cle['Years of Experience'].value_counts()

-1.0     1073
 3.0      470
 2.0      445
 5.0      380
 1.0      323
 4.0      124
 8.0      109
 6.0       97
 10.0      79
 7.0       41
 12.0      13
 7.5       12
 15.0       8
 4.5        5
 9.0        4
 1.5        4
 10.5       4
 2.5        3
 5.5        3
 13.0       3
 6.5        3
 8.5        2
 3.5        2
 31.0       1
 0.5        1
 0.0        1
 9.5        1
Name: Years of Experience, dtype: int64

The Experience table was having a value -1 which was suppose to be 1 so changed the value -1 to 1 using Replace 
Value option.

In [100]:
# REPLACING VALUES IN EXPERIENCE COLUMN
ds_cle['Years of Experience'].replace(-1,1,inplace=True)

# REPLACING VALUE IN QUALIFICATION COLUMN

In [101]:
ds_cle['Qualification'].value_counts()

Degree                 1984
Not Specified           679
Non-Degree Tertiary     441
Matriculated             32
Postgraduate             30
School Certificate       23
(N/A)                    20
:                         1
Primary                   1
Name: Qualification, dtype: int64

The Qualification column has two qualification name Non-Degree Tertiary and Non Degree Tertiary so we can 
replace Non Degree Tertiary with Non-Degree Tertiary as they represent same qualification

In [102]:
ds_cle['Qualification'].replace('Non-Degree Tertiary','Non_Degree Tertiary')

0       Not Specified
1              Degree
2              Degree
3              Degree
4              Degree
            ...
3206    Not Specified
3207    Not Specified
3208    Not Specified
3209    Not Specified
3210    Not Specified
Name: Qualification, Length: 3211, dtype: object

In [103]:
ds_cle['Date Scraped'].value_counts()

22-10-2021    3211
Name: Date Scraped, dtype: int64

We don't need this columns this column contanin when the data is scapped so we can drop the columns

In [104]:
ds_cle.drop('Date Scraped',axis=1,inplace=True)

# changinr the data type of ds_cle['Date Posted'] column "Object" TO "datetime"

In [105]:
# Date Posted
ds_cle['Date Posted']=pd.to_datetime(ds_cle['Date Posted'])

In [106]:
ds_cle['Date Posted']

0      2021-10-22
1      2021-10-22
2      2021-10-22
3      2021-10-21
4      2021-10-22
          ...
3206   2021-09-28
3207   2021-09-28
3208   2021-09-28
3209   2021-09-28
3210   2021-09-27
Name: Date Posted, Length: 3211, dtype: datetime64[ns]

In [107]:
ds_cle.dtypes

Area                              object
Career Level                      object
Company                           object
Company Website                   object
Data Source                       object
Date Posted               datetime64[ns]
Industry                          object
Job Description                   object
Job Functions                     object
Job Highlights                    object
Job Link                          object
Job Title                         object
Job Type                          object
Qualification                     object
Salary                            object
Search Term                       object
Total Entry Level Jobs            object
New Year Exp.                    float64
Years of Experience              float64
dtype: object

In [108]:
# Career Level                      
ds_cle['Career Level']=ds_cle['Career Level'].astype('category')

In [109]:
# Job Type                          
ds_cle['Job Type']=ds_cle['Job Type'].astype('category')

In [110]:
# Qualification
ds_cle['Qualification']=ds_cle['Qualification'].astype('category')

In [111]:
# Area 
ds_cle['Area']=ds_cle['Area'].astype('category')

In [112]:
ds_cle.dtypes

Area                            category
Career Level                    category
Company                           object
Company Website                   object
Data Source                       object
Date Posted               datetime64[ns]
Industry                          object
Job Description                   object
Job Functions                     object
Job Highlights                    object
Job Link                          object
Job Title                         object
Job Type                        category
Qualification                   category
Salary                            object
Search Term                       object
Total Entry Level Jobs            object
New Year Exp.                    float64
Years of Experience              float64
dtype: object

# Now the data is cleaned and the datatype of the data is changed correctly
START WORKING WITH DATE COLUMNS

In [113]:
# Creating New column for year
ds_cle['Year']=pd.DatetimeIndex(ds_cle['Date Posted']).year

In [114]:
ds_cle['Year']

0       2021
1       2021
2       2021
3       2021
4       2021
        ...
3206    2021
3207    2021
3208    2021
3209    2021
3210    2021
Name: Year, Length: 3211, dtype: int64

In [115]:
# Creating new column for month
ds_cle['month']=pd.DatetimeIndex(ds_cle['Date Posted']).month
ds_cle['month']

0       10
1       10
2       10
3       10
4       10
        ..
3206     9
3207     9
3208     9
3209     9
3210     9
Name: month, Length: 3211, dtype: int64

In [116]:
ds_cle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3211 entries, 0 to 3210
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Area                    3211 non-null   category
 1   Career Level            3211 non-null   category
 2   Company                 3211 non-null   object
 3   Company Website         3211 non-null   object
 4   Data Source             3211 non-null   object
 5   Date Posted             3211 non-null   datetime64[ns]
 6   Industry                3211 non-null   object
 7   Job Description         3211 non-null   object
 8   Job Functions           3211 non-null   object
 9   Job Highlights          3211 non-null   object
 10  Job Link                3211 non-null   object
 11  Job Title               3211 non-null   object
 12  Job Type                3211 non-null   category
 13  Qualification           3211 non-null   category
 14  Salary                  3211 non-null   object
 15  Search Term             3211 non-null   object
 16  Total Entry Level Jobs  3211 non-null   object
 17  New Year Exp.           3211 non-null   float64
 18  Years of Experience     3211 non-null   float64
 19  Year                    3211 non-null   int64
 20  month                   3211 non-null   int64
dtypes: category(4), datetime64[ns](1), float64(2), int64(2), object(12)
memory usage: 442.3+ KB

In [117]:
ds_cle.to_csv("DS_CLEAN.csv")

# The Data is clenaed
# The data-type of the Dataset is Corrected
# New column added for time series analysis
# The Data Is exported as "DS_CLEAN.csv"